<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101</key>
	<dict>
		<key>process_id</key>
		<string>101</string>
		<key>process_name</key>
		<string>超限运输车辆行驶公路许可</string>
		<key>nodes_dic</key>
		<dict>
			<key>10</key>
			<dict>
				<key>node_name</key>
				<string>申请表填写</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>18</string>
			</dict>
			<key>15</key>
			<dict>
				<key>node_name</key>
				<string>申请材料审查</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>155</string>
			</dict>
			<key>20</key>
			<dict>
				<key>node_name</key>
				<string>受理</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>292</string>
			</dict>
			<key>30</key>
			<dict>
				<key>node_name</key>
				<string>不予受理</string>
				<key>x</key>
				<string>104</string>
				<key>y</key>
				<string>182</string>
			</dict>
			<key>40</key>
			<dict>
				<key>node_name</key>
				<string>补正</string>
				<key>x</key>
				<string>104</string>
				<key>y</key>
				<string>110</string>
			</dict>
			<key>140</key>
			<dict>
				<key>node_name</key>
				<string>现场勘验</string>
				<key>x</key>
				<string>148</string>
				<key>y</key>
				<string>292</string>
			</dict>
			<key>150</key>
			<dict>
				<key>node_name</key>
				<string>县级审查</string>
				<key>x</key>
				<string>254</string>
				<key>y</key>
				<string>292</string>
			</dict>
			<key>160</key>
			<dict>
				<key>node_name</key>
				<string>市级审查</string>
				<key>x</key>
				<string>360</string>
				<key>y</key>
				<string>292</string>
			</dict>
			<key>340</key>
			<dict>
				<key>node_name</key>
				<string>省级审查</string>
				<key>x</key>
				<string>464</string>
				<key>y</key>
				<string>292</string>
			</dict>
			<key>190</key>
			<dict>
				<key>node_name</key>
				<string>许可决定</string>
				<key>x</key>
				<string>570</string>
				<key>y</key>
				<string>220</string>
			</dict>
			<key>210</key>
			<dict>
				<key>node_name</key>
				<string>不予许可决定</string>
				<key>x</key>
				<string>570</string>
				<key>y</key>
				<string>350</string>
			</dict>
			<key>175</key>
			<dict>
				<key>node_name</key>
				<string>当场审查</string>
				<key>x</key>
				<string>436</string>
				<key>y</key>
				<string>40</string>
			</dict>
			<key>195</key>
			<dict>
				<key>node_name</key>
				<string>当场许可决定</string>
				<key>x</key>
				<string>532</string>
				<key>y</key>
				<string>40</string>
			</dict>
			<key>199</key>
			<dict>
				<key>node_name</key>
				<string>许可证</string>
				<key>x</key>
				<string>644</string>
				<key>y</key>
				<string>40</string>
			</dict>
			<key>330</key>
			<dict>
				<key>node_name</key>
				<string>协议</string>
				<key>x</key>
				<string>714</string>
				<key>y</key>
				<string>74</string>
			</dict>
			<key>191</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>714</string>
				<key>y</key>
				<string>172</string>
			</dict>
			<key>260</key>
			<dict>
				<key>node_name</key>
				<string>办结归档</string>
				<key>x</key>
				<string>712</string>
				<key>y</key>
				<string>294</string>
			</dict>
			<key>138</key>
			<dict>
				<key>node_name</key>
				<string>勘查通知</string>
				<key>x</key>
				<string>2</string>
				<key>y</key>
				<string>380</string>
			</dict>
			<key>410</key>
			<dict>
				<key>node_name</key>
				<string>询问笔录</string>
				<key>x</key>
				<string>80</string>
				<key>y</key>
				<string>380</string>
			</dict>
			<key>197</key>
			<dict>
				<key>node_name</key>
				<string>占利用费计算</string>
				<key>x</key>
				<string>58</string>
				<key>y</key>
				<string>444</string>
			</dict>
			<key>100</key>
			<dict>
				<key>node_name</key>
				<string>征求意见</string>
				<key>x</key>
				<string>224</string>
				<key>y</key>
				<string>86</string>
			</dict>
			<key>290</key>
			<dict>
				<key>node_name</key>
				<string>法定除外</string>
				<key>x</key>
				<string>224</string>
				<key>y</key>
				<string>122</string>
			</dict>
			<key>320</key>
			<dict>
				<key>node_name</key>
				<string>讨论</string>
				<key>x</key>
				<string>224</string>
				<key>y</key>
				<string>158</string>
			</dict>
			<key>270</key>
			<dict>
				<key>node_name</key>
				<string>延期</string>
				<key>x</key>
				<string>224</string>
				<key>y</key>
				<string>194</string>
			</dict>
			<key>130</key>
			<dict>
				<key>node_name</key>
				<string>听证通知</string>
				<key>x</key>
				<string>326</string>
				<key>y</key>
				<string>86</string>
			</dict>
			<key>120</key>
			<dict>
				<key>node_name</key>
				<string>听证公告</string>
				<key>x</key>
				<string>326</string>
				<key>y</key>
				<string>122</string>
			</dict>
			<key>350</key>
			<dict>
				<key>node_name</key>
				<string>听证委托</string>
				<key>x</key>
				<string>326</string>
				<key>y</key>
				<string>158</string>
			</dict>
			<key>360</key>
			<dict>
				<key>node_name</key>
				<string>听证笔录</string>
				<key>x</key>
				<string>326</string>
				<key>y</key>
				<string>194</string>
			</dict>
			<key>370</key>
			<dict>
				<key>node_name</key>
				<string>听证报告</string>
				<key>x</key>
				<string>326</string>
				<key>y</key>
				<string>230</string>
			</dict>
			<key>301</key>
			<dict>
				<key>node_name</key>
				<string>县承办意见</string>
				<key>x</key>
				<string>228</string>
				<key>y</key>
				<string>390</string>
			</dict>
			<key>302</key>
			<dict>
				<key>node_name</key>
				<string>县审核意见</string>
				<key>x</key>
				<string>228</string>
				<key>y</key>
				<string>428</string>
			</dict>
			<key>303</key>
			<dict>
				<key>node_name</key>
				<string>县领导意见</string>
				<key>x</key>
				<string>228</string>
				<key>y</key>
				<string>466</string>
			</dict>
			<key>311</key>
			<dict>
				<key>node_name</key>
				<string>市承办意见</string>
				<key>x</key>
				<string>338</string>
				<key>y</key>
				<string>390</string>
			</dict>
			<key>312</key>
			<dict>
				<key>node_name</key>
				<string>市审核意见</string>
				<key>x</key>
				<string>338</string>
				<key>y</key>
				<string>428</string>
			</dict>
			<key>313</key>
			<dict>
				<key>node_name</key>
				<string>市领导意见</string>
				<key>x</key>
				<string>338</string>
				<key>y</key>
				<string>466</string>
			</dict>
			<key>321</key>
			<dict>
				<key>node_name</key>
				<string>省承办意见</string>
				<key>x</key>
				<string>448</string>
				<key>y</key>
				<string>390</string>
			</dict>
			<key>322</key>
			<dict>
				<key>node_name</key>
				<string>省审核意见</string>
				<key>x</key>
				<string>448</string>
				<key>y</key>
				<string>428</string>
			</dict>
			<key>323</key>
			<dict>
				<key>node_name</key>
				<string>省领导意见</string>
				<key>x</key>
				<string>448</string>
				<key>y</key>
				<string>466</string>
			</dict>
			<key>192</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>194</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<key>120</key>
	<dict>
		<key>process_id</key>
		<string>120</string>
		<key>process_name</key>
		<string>行政处罚案件</string>
		<key>nodes_dic</key>
		<dict>
			<key>10</key>
			<dict>
				<key>node_name</key>
				<string>立案</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>260</string>
			</dict>
			<key>15</key>
			<dict>
				<key>node_name</key>
				<string>调查取证</string>
				<key>x</key>
				<string>110</string>
				<key>y</key>
				<string>260</string>
			</dict>
			<key>30</key>
			<dict>
				<key>node_name</key>
				<string>调查报告</string>
				<key>x</key>
				<string>200</string>
				<key>y</key>
				<string>260</string>
			</dict>
			<key>140</key>
			<dict>
				<key>node_name</key>
				<string>违法行为通知书</string>
				<key>x</key>
				<string>310</string>
				<key>y</key>
				<string>260</string>
			</dict>
			<key>150</key>
			<dict>
				<key>node_name</key>
				<string>处罚决定</string>
				<key>x</key>
				<string>485</string>
				<key>y</key>
				<string>260</string>
			</dict>
			<key>230</key>
			<dict>
				<key>node_name</key>
				<string>当场处罚决定</string>
				<key>x</key>
				<string>360</string>
				<key>y</key>
				<string>354</string>
			</dict>
			<key>60</key>
			<dict>
				<key>node_name</key>
				<string>结案</string>
				<key>x</key>
				<string>592</string>
				<key>y</key>
				<string>260</string>
			</dict>
			<key>130</key>
			<dict>
				<key>node_name</key>
				<string>办结归档</string>
				<key>x</key>
				<string>690</string>
				<key>y</key>
				<string>260</string>
			</dict>
			<key>20</key>
			<dict>
				<key>node_name</key>
				<string>现场勘验</string>
				<key>x</key>
				<string>30</string>
				<key>y</key>
				<string>330</string>
			</dict>
			<key>110</key>
			<dict>
				<key>node_name</key>
				<string>询问笔录</string>
				<key>x</key>
				<string>30</string>
				<key>y</key>
				<string>354</string>
			</dict>
			<key>300</key>
			<dict>
				<key>node_name</key>
				<string>报案记录</string>
				<key>x</key>
				<string>30</string>
				<key>y</key>
				<string>378</string>
			</dict>
			<key>190</key>
			<dict>
				<key>node_name</key>
				<string>案件讨论</string>
				<key>x</key>
				<string>18</string>
				<key>y</key>
				<string>45</string>
			</dict>
			<key>100</key>
			<dict>
				<key>node_name</key>
				<string>责令停驶</string>
				<key>x</key>
				<string>18</string>
				<key>y</key>
				<string>71</string>
			</dict>
			<key>204</key>
			<dict>
				<key>node_name</key>
				<string>委托鉴定</string>
				<key>x</key>
				<string>18</string>
				<key>y</key>
				<string>95</string>
			</dict>
			<key>90</key>
			<dict>
				<key>node_name</key>
				<string>鉴定意见</string>
				<key>x</key>
				<string>18</string>
				<key>y</key>
				<string>120</string>
			</dict>
			<key>540</key>
			<dict>
				<key>node_name</key>
				<string>责令改正通知书</string>
				<key>x</key>
				<string>140</string>
				<key>y</key>
				<string>116</string>
			</dict>
			<key>290</key>
			<dict>
				<key>node_name</key>
				<string>超限卸载通知</string>
				<key>x</key>
				<string>18</string>
				<key>y</key>
				<string>140</string>
			</dict>
			<key>295</key>
			<dict>
				<key>node_name</key>
				<string>超限卸载物品保存</string>
				<key>x</key>
				<string>18</string>
				<key>y</key>
				<string>165</string>
			</dict>
			<key>80</key>
			<dict>
				<key>node_name</key>
				<string>抽样取证</string>
				<key>x</key>
				<string>140</string>
				<key>y</key>
				<string>45</string>
			</dict>
			<key>201</key>
			<dict>
				<key>node_name</key>
				<string>行政协助</string>
				<key>x</key>
				<string>140</string>
				<key>y</key>
				<string>70</string>
			</dict>
			<key>220</key>
			<dict>
				<key>node_name</key>
				<string>扣留决定</string>
				<key>x</key>
				<string>140</string>
				<key>y</key>
				<string>95</string>
			</dict>
			<key>542</key>
			<dict>
				<key>node_name</key>
				<string>责令停止改正</string>
				<key>x</key>
				<string>140</string>
				<key>y</key>
				<string>120</string>
			</dict>
			<key>120</key>
			<dict>
				<key>node_name</key>
				<string>证据保存清单</string>
				<key>x</key>
				<string>140</string>
				<key>y</key>
				<string>140</string>
			</dict>
			<key>202</key>
			<dict>
				<key>node_name</key>
				<string>证据登记保存处理决定</string>
				<key>x</key>
				<string>140</string>
				<key>y</key>
				<string>165</string>
			</dict>
			<key>192</key>
			<dict>
				<key>node_name</key>
				<string>回避申请</string>
				<key>x</key>
				<string>176</string>
				<key>y</key>
				<string>200</string>
			</dict>
			<key>194</key>
			<dict>
				<key>node_name</key>
				<string>同意回避</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>198</key>
			<dict>
				<key>node_name</key>
				<string>驳回回避</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>145</key>
			<dict>
				<key>node_name</key>
				<string>听证通知书</string>
				<key>x</key>
				<string>363</string>
				<key>y</key>
				<string>18</string>
			</dict>
			<key>147</key>
			<dict>
				<key>node_name</key>
				<string>调查取证</string>
				<key>x</key>
				<string>363</string>
				<key>y</key>
				<string>42</string>
			</dict>
			<key>146</key>
			<dict>
				<key>node_name</key>
				<string>听证委托书</string>
				<key>x</key>
				<string>363</string>
				<key>y</key>
				<string>65</string>
			</dict>
			<key>144</key>
			<dict>
				<key>node_name</key>
				<string>听证会笔录</string>
				<key>x</key>
				<string>363</string>
				<key>y</key>
				<string>90</string>
			</dict>
			<key>149</key>
			<dict>
				<key>node_name</key>
				<string>听证报告</string>
				<key>x</key>
				<string>363</string>
				<key>y</key>
				<string>111</string>
			</dict>
			<key>520</key>
			<dict>
				<key>node_name</key>
				<string>解除强制措施</string>
				<key>x</key>
				<string>354</string>
				<key>y</key>
				<string>150</string>
			</dict>
			<key>510</key>
			<dict>
				<key>node_name</key>
				<string>陈述申辩</string>
				<key>x</key>
				<string>354</string>
				<key>y</key>
				<string>175</string>
			</dict>
			<key>515</key>
			<dict>
				<key>node_name</key>
				<string>复核意见</string>
				<key>x</key>
				<string>354</string>
				<key>y</key>
				<string>200</string>
			</dict>
			<key>170</key>
			<dict>
				<key>node_name</key>
				<string>分期申请</string>
				<key>x</key>
				<string>524</string>
				<key>y</key>
				<string>94</string>
			</dict>
			<key>172</key>
			<dict>
				<key>node_name</key>
				<string>同意分期</string>
				<key>x</key>
				<string>645</string>
				<key>y</key>
				<string>80</string>
			</dict>
			<key>174</key>
			<dict>
				<key>node_name</key>
				<string>不同意分期</string>
				<key>x</key>
				<string>645</string>
				<key>y</key>
				<string>104</string>
			</dict>
			<key>180</key>
			<dict>
				<key>node_name</key>
				<string>强制申请</string>
				<key>x</key>
				<string>524</string>
				<key>y</key>
				<string>142</string>
			</dict>
			<key>160</key>
			<dict>
				<key>node_name</key>
				<string>免罚申请</string>
				<key>x</key>
				<string>524</string>
				<key>y</key>
				<string>190</string>
			</dict>
			<key>165</key>
			<dict>
				<key>node_name</key>
				<string>不予处罚决定</string>
				<key>x</key>
				<string>645</string>
				<key>y</key>
				<string>190</string>
			</dict>
			<key>240</key>
			<dict>
				<key>node_name</key>
				<string>代缴罚款委托</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>50</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>55</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>70</key>
			<dict>
				<key>node_name</key>
				<string>死案</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<key>130</key>
	<dict>
		<key>process_id</key>
		<string>130</string>
		<key>process_name</key>
		<string>赔补偿案件</string>
		<key>nodes_dic</key>
		<dict>
			<key>10</key>
			<dict>
				<key>node_name</key>
				<string>立案</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>232</string>
			</dict>
			<key>15</key>
			<dict>
				<key>node_name</key>
				<string>调查取证</string>
				<key>x</key>
				<string>120</string>
				<key>y</key>
				<string>232</string>
			</dict>
			<key>30</key>
			<dict>
				<key>node_name</key>
				<string>调查报告</string>
				<key>x</key>
				<string>240</string>
				<key>y</key>
				<string>232</string>
			</dict>
			<key>390</key>
			<dict>
				<key>node_name</key>
				<string>赔补偿计算表</string>
				<key>x</key>
				<string>348</string>
				<key>y</key>
				<string>232</string>
			</dict>
			<key>40</key>
			<dict>
				<key>node_name</key>
				<string>赔补偿通知</string>
				<key>x</key>
				<string>450</string>
				<key>y</key>
				<string>232</string>
			</dict>
			<key>60</key>
			<dict>
				<key>node_name</key>
				<string>结案</string>
				<key>x</key>
				<string>564</string>
				<key>y</key>
				<string>232</string>
			</dict>
			<key>130</key>
			<dict>
				<key>node_name</key>
				<string>办结归档</string>
				<key>x</key>
				<string>680</string>
				<key>y</key>
				<string>232</string>
			</dict>
			<key>20</key>
			<dict>
				<key>node_name</key>
				<string>现场勘验</string>
				<key>x</key>
				<string>4</string>
				<key>y</key>
				<string>334</string>
			</dict>
			<key>110</key>
			<dict>
				<key>node_name</key>
				<string>询问笔录</string>
				<key>x</key>
				<string>84</string>
				<key>y</key>
				<string>334</string>
			</dict>
			<key>300</key>
			<dict>
				<key>node_name</key>
				<string>报案记录</string>
				<key>x</key>
				<string>162</string>
				<key>y</key>
				<string>334</string>
			</dict>
			<key>190</key>
			<dict>
				<key>node_name</key>
				<string>案件讨论</string>
				<key>x</key>
				<string>20</string>
				<key>y</key>
				<string>42</string>
			</dict>
			<key>100</key>
			<dict>
				<key>node_name</key>
				<string>责令停驶</string>
				<key>x</key>
				<string>20</string>
				<key>y</key>
				<string>66</string>
			</dict>
			<key>204</key>
			<dict>
				<key>node_name</key>
				<string>委托鉴定</string>
				<key>x</key>
				<string>20</string>
				<key>y</key>
				<string>66</string>
			</dict>
			<key>90</key>
			<dict>
				<key>node_name</key>
				<string>鉴定意见</string>
				<key>x</key>
				<string>20</string>
				<key>y</key>
				<string>114</string>
			</dict>
			<key>540</key>
			<dict>
				<key>node_name</key>
				<string>责令改正</string>
				<key>x</key>
				<string>20</string>
				<key>y</key>
				<string>114</string>
			</dict>
			<key>290</key>
			<dict>
				<key>node_name</key>
				<string>超限卸载通知</string>
				<key>x</key>
				<string>20</string>
				<key>y</key>
				<string>138</string>
			</dict>
			<key>295</key>
			<dict>
				<key>node_name</key>
				<string>超限卸载物品保存</string>
				<key>x</key>
				<string>20</string>
				<key>y</key>
				<string>162</string>
			</dict>
			<key>80</key>
			<dict>
				<key>node_name</key>
				<string>抽样取证</string>
				<key>x</key>
				<string>144</string>
				<key>y</key>
				<string>42</string>
			</dict>
			<key>201</key>
			<dict>
				<key>node_name</key>
				<string>行政协助</string>
				<key>x</key>
				<string>144</string>
				<key>y</key>
				<string>66</string>
			</dict>
			<key>220</key>
			<dict>
				<key>node_name</key>
				<string>扣留决定</string>
				<key>x</key>
				<string>144</string>
				<key>y</key>
				<string>90</string>
			</dict>
			<key>542</key>
			<dict>
				<key>node_name</key>
				<string>责令停止改正</string>
				<key>x</key>
				<string>144</string>
				<key>y</key>
				<string>114</string>
			</dict>
			<key>120</key>
			<dict>
				<key>node_name</key>
				<string>证据保存清单</string>
				<key>x</key>
				<string>144</string>
				<key>y</key>
				<string>138</string>
			</dict>
			<key>202</key>
			<dict>
				<key>node_name</key>
				<string>证据登记保存处理决定</string>
				<key>x</key>
				<string>144</string>
				<key>y</key>
				<string>162</string>
			</dict>
			<key>520</key>
			<dict>
				<key>node_name</key>
				<string>解除强制措施</string>
				<key>x</key>
				<string>320</string>
				<key>y</key>
				<string>340</string>
			</dict>
			<key>560</key>
			<dict>
				<key>node_name</key>
				<string>路产损坏残值处置</string>
				<key>x</key>
				<string>458</string>
				<key>y</key>
				<string>344</string>
			</dict>
			<key>510</key>
			<dict>
				<key>node_name</key>
				<string>陈述申辩</string>
				<key>x</key>
				<string>458</string>
				<key>y</key>
				<string>368</string>
			</dict>
			<key>515</key>
			<dict>
				<key>node_name</key>
				<string>复核意见</string>
				<key>x</key>
				<string>354</string>
				<key>y</key>
				<string>392</string>
			</dict>
			<key>50</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>55</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>70</key>
			<dict>
				<key>node_name</key>
				<string>死案</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<key>140</key>
	<dict>
		<key>process_id</key>
		<string>140</string>
		<key>process_name</key>
		<string>强制措施案件</string>
		<key>nodes_dic</key>
		<dict>
			<key>10</key>
			<dict>
				<key>node_name</key>
				<string>立案</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>250</string>
			</dict>
			<key>15</key>
			<dict>
				<key>node_name</key>
				<string>调查取证</string>
				<key>x</key>
				<string>92</string>
				<key>y</key>
				<string>250</string>
			</dict>
			<key>30</key>
			<dict>
				<key>node_name</key>
				<string>调查报告</string>
				<key>x</key>
				<string>200</string>
				<key>y</key>
				<string>250</string>
			</dict>
			<key>500</key>
			<dict>
				<key>node_name</key>
				<string>强制措施告诫书</string>
				<key>x</key>
				<string>348</string>
				<key>y</key>
				<string>250</string>
			</dict>
			<key>530</key>
			<dict>
				<key>node_name</key>
				<string>强制措施决定</string>
				<key>x</key>
				<string>484</string>
				<key>y</key>
				<string>250</string>
			</dict>
			<key>60</key>
			<dict>
				<key>node_name</key>
				<string>结案</string>
				<key>x</key>
				<string>590</string>
				<key>y</key>
				<string>250</string>
			</dict>
			<key>130</key>
			<dict>
				<key>node_name</key>
				<string>办结归档</string>
				<key>x</key>
				<string>690</string>
				<key>y</key>
				<string>250</string>
			</dict>
			<key>20</key>
			<dict>
				<key>node_name</key>
				<string>现场勘验</string>
				<key>x</key>
				<string>2</string>
				<key>y</key>
				<string>354</string>
			</dict>
			<key>110</key>
			<dict>
				<key>node_name</key>
				<string>询问笔录</string>
				<key>x</key>
				<string>88</string>
				<key>y</key>
				<string>354</string>
			</dict>
			<key>300</key>
			<dict>
				<key>node_name</key>
				<string>报案记录</string>
				<key>x</key>
				<string>170</string>
				<key>y</key>
				<string>354</string>
			</dict>
			<key>190</key>
			<dict>
				<key>node_name</key>
				<string>案件讨论</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>50</string>
			</dict>
			<key>100</key>
			<dict>
				<key>node_name</key>
				<string>责令停驶</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>74</string>
			</dict>
			<key>204</key>
			<dict>
				<key>node_name</key>
				<string>委托鉴定</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>98</string>
			</dict>
			<key>90</key>
			<dict>
				<key>node_name</key>
				<string>鉴定意见</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>98</string>
			</dict>
			<key>540</key>
			<dict>
				<key>node_name</key>
				<string>责令改正</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>122</string>
			</dict>
			<key>290</key>
			<dict>
				<key>node_name</key>
				<string>超限卸载通知</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>146</string>
			</dict>
			<key>295</key>
			<dict>
				<key>node_name</key>
				<string>超限卸载物品保存</string>
				<key>x</key>
				<string>24</string>
				<key>y</key>
				<string>170</string>
			</dict>
			<key>80</key>
			<dict>
				<key>node_name</key>
				<string>抽样取证</string>
				<key>x</key>
				<string>148</string>
				<key>y</key>
				<string>50</string>
			</dict>
			<key>201</key>
			<dict>
				<key>node_name</key>
				<string>行政协助</string>
				<key>x</key>
				<string>148</string>
				<key>y</key>
				<string>74</string>
			</dict>
			<key>220</key>
			<dict>
				<key>node_name</key>
				<string>扣留决定</string>
				<key>x</key>
				<string>148</string>
				<key>y</key>
				<string>98</string>
			</dict>
			<key>542</key>
			<dict>
				<key>node_name</key>
				<string>责令停止改正</string>
				<key>x</key>
				<string>148</string>
				<key>y</key>
				<string>122</string>
			</dict>
			<key>120</key>
			<dict>
				<key>node_name</key>
				<string>证据保存清单</string>
				<key>x</key>
				<string>148</string>
				<key>y</key>
				<string>146</string>
			</dict>
			<key>202</key>
			<dict>
				<key>node_name</key>
				<string>证据登记保存处理决定</string>
				<key>x</key>
				<string>148</string>
				<key>y</key>
				<string>170</string>
			</dict>
			<key>510</key>
			<dict>
				<key>node_name</key>
				<string>陈述申辩</string>
				<key>x</key>
				<string>386</string>
				<key>y</key>
				<string>150</string>
			</dict>
			<key>515</key>
			<dict>
				<key>node_name</key>
				<string>复核意见</string>
				<key>x</key>
				<string>386</string>
				<key>y</key>
				<string>176</string>
			</dict>
			<key>520</key>
			<dict>
				<key>node_name</key>
				<string>解除强制措施</string>
				<key>x</key>
				<string>386</string>
				<key>y</key>
				<string>200</string>
			</dict>
			<key>550</key>
			<dict>
				<key>node_name</key>
				<string>强制措施笔录</string>
				<key>x</key>
				<string>520</string>
				<key>y</key>
				<string>174</string>
			</dict>
			<key>50</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>55</key>
			<dict>
				<key>node_name</key>
				<string>送达回证</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>70</key>
			<dict>
				<key>node_name</key>
				<string>死案</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
